Dont allow signer-provider or verification-provider to override the TSAVerifyOptions.

We don't want signer-provider or verification-provider to override the [TSAVerifyOptions](https://pkg.go.dev/crypto/x509#VerifyOptions) because then user can override this value and start using non time-stamping cert(like ssl) for time-stamping.

Also as per [rfc3161#section-2.3 ](https://datatracker.ietf.org/doc/html/rfc3161#section-2.3)
`The corresponding certificate MUST contain only one instance of the extended key usage field extension as defined in [RFC2459] Section 4.2.1.13 with KeyPurposeID having value:
 id-kp-timeStamping.`

I would suggest to start with not exposing `TSAVerifyOptions` and then later if need arises we can expose this option with sane defaults.

_Originally posted by @priteshbandi in https://github.com/notaryproject/notation-go-lib/pull/15#discussion_r727777892_